{{name}}{{email}}{{phone}}{{twitter}}{{linkedin}}
<span class="actions">
  <button class="clickme btn btn-xs btn-danger">Delete</button>
  <button class="hideme btn btn-xs btn-warning">Hide Todo</button>
</span>
